* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--tg-theme-bg-color);
    padding: 20px;
}

.logo {
    width: 75px;
    border-radius: 100px;
}

form {
    margin-top: 50px;
    max-width: 500px;
    width: 100%;
    background-color: #F2F252;
    border-radius: 25px;
    padding: 20px;
    display: flex; 
    align-items: center;
    flex-direction: column;
}

input {
    width: 100%;
    border-radius: 15px;
    border: solid #727272 1px;
    padding: 10px;
    font-family: Unbounded;
    margin-bottom: 25px;
}

.title {
    font-family: Unbounded;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 25px;
    color: #2b2d30;
}

button {
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    font-family: Unbounded;
    border: solid #727272 1px;
    background-color: #fff;
    transition: all 0.2s;
}

button:hover {
    transform: scale(1.05);
}